1.Create a New Database and  Table for Employees

Task: Create a new database company_db named and Create a table employees named with the following
columns

create database company_db;
use company_db;

create table employees (

employee_id INT PRIMARY KEY,

first_name VARCHAR(50),

last_name VARCHAR(50),

department VARCHAR(50),

salary INT,

hire_date DATE);

select * from employees;

desc employees;

out put-

employee_id	int	NO	PRI

first_name	varchar(50)	YES

last_name	varchar(50)	YES

department	varchar(50)	YES

salary	int	YES

hire_date	date	YES

2.Insert Data into Employees Table

Task: Insert the following sample records into the table

insert into employees values

(101,"Amit","Sharma","HR",50000,"2020-01-15"),

(102,"Riya","Kapoor","sales",75000,"2019-03-22"),

(103,"Raj","Mehta","IT",90000,"2018-07-11"),

(104,"Neha","Verma","IT",85000,"2021-09-01"),

(105,"Arjun","Singh","Finance",60000,"2022-02-10");

ouput-

101	Amit	Sharma	HR	50000	2020-01-15

102	Riya	Kapoor	sales	75000	2019-03-22

103	Raj	Mehta	IT	90000	2018-07-11

104	Neha	Verma	IT	85000	2021-09-01

105	Arjun	Singh	Finance	60000	2022-02-10

3. Display All Employee Records Sorted by Salary (Lowest to Highest)

select * from employees

order by salary;

output-


101	Amit	Sharma	HR	50000	2020-01-15

105	Arjun	Singh	Finance	60000	2022-02-10

102	Riya	Kapoor	sales	75000	2019-03-22

104	Neha	Verma	IT	85000	2021-09-01

103	Raj	Mehta	IT	90000	2018-07-11

4.Show Employees Sorted by Department (A–Z) and Salary (High → Low)

select * from employees

order by department,salary desc ;

ouput-


105	Arjun	Singh	Finance	60000	2022-02-10

101	Amit	Sharma	HR	  50000	2020-01-15

103	Raj	Mehta	   IT	    90000	2018-07-11

104	Neha	Verma	 IT	    85000	2021-09-01

102	Riya	Kapoor sales	75000	2019-03-22

5.List All Employees in the IT Department, Ordered by Hire Date (Newest First)

select * from employees

where department="IT"

order by hire_date desc ;

output-

104	Neha	Verma	IT	85000	2021-09-01

103	Raj	Mehta	IT	90000	 2018-07-11

6.Create and Populate a Sales Table

Task: Create a table to track sales data:

create table sales(

sale_id int primary key,

customer_name varchar(50),

amount int,

sale_date date);

desc sales;

select * from sales;

insert into sales values

(1,"Aditi",1500,"2024-08-01"),

(2,"Rohan",2200,"2024-08-03"),

(3,"Aditi",3500,"2024-09-05"),

(4,"Meena",2700,"2024-09-15"),

(5,"Rohan",4500,"2024-09-25");

output-


1	Aditi	1500	2024-08-01

2	Rohan	2200	2024-08-03

3	Aditi	3500	2024-09-05

4	Meena	2700	2024-09-15

5	Rohan	4500	2024-09-25

7.Display All Sales Records Sorted by Amount (Highest → Lowest)

select * from sales

order by amount desc;

ouput-


5	Rohan	4500	2024-09-25

3	Aditi	3500	2024-09-05

4	Meena	2700	2024-09-15

2	Rohan	2200	2024-08-03

1	Aditi	1500	2024-08-01

8. Show All Sales Made by Customer “Aditi”

select * from sales

where customer_name= "Aditi"

ouput-

1	Aditi	1500	2024-08-01

3	Aditi	3500	2024-09-05

9.What is the Difference Between a Primary Key and a Foreign Key?

Ans-

Primary Key (PK)

Purpose: Uniquely identifies each record in a table.

Characteristics:

-Must be unique for every row.

-Cannot be NULL.

-There can be only one primary key per table (can be composite though, using multiple columns)

Example:
In an Employees table:

EmployeeID (PK)

Each employee has a unique EmployeeID.

Foreign Key (FK)

Purpose: Establishes a link between two tables. It refers to the primary key in another table.

Characteristics:

-Can have duplicate values.

-Can be NULL (if optional relationship).

-There can be multiple foreign keys in a table.

Example:
In a Projects table:

EmployeeID (FK)

This EmployeeID refers to the primary key of the Employees table, showing which employee is assigned to the project.

In short,

Primary Key = unique ID for a record and defines identity within table

Foreign Key = reference to a primary key in another table and defines relationship between tables


10.What Are Constraints in SQL and Why Are They Used?

Ans-Constraints are rules applied to table columns to enforce data integrity and consistency.

-They restrict the type of data that can be inserted or updated in a table.

Why Are Constraints Used?

-Ensure Accuracy and Reliability

-Prevents invalid data from entering the database.

-Maintain Data Integrity

-Keeps relationships between tables consistent.

-Control Business Rules

-Enforces rules like “salary cannot be negative” or “each employee must have a unique ID”.

Common Types of Constraints

1.PRIMARY KEY
Uniquely identifies each row in a table. Cannot be NULL.

2.FOREIGN KEY
Ensures that values in a column match values in another table (maintains referential integrity).

3.UNIQUE
Ensures all values in a column are unique (can be NULL).

4.NOT NULL
Ensures a column cannot have NULL values.

5.CHECK
Ensures that column values satisfy a condition (e.g., Salary > 0).

6.DEFAULT
Provides a default value if none is specified during insertion.